name: Release library

on:
  release:
    types: [created]

jobs:
  ci_tests:
    uses: ./.github/workflows/ci_tests.yml

  ci_release:
    needs: ci_tests
    uses: badisi/actions/.github/workflows/action.yml@v4
    with:
      working-directory: projects/library
      build: true
      release: true
